<h1><%=@post.title%></h1>
<h2><%=@post.content%></h2>
<%@post.comments.each do |comment|%>
  <li><%=comment.content%>
      <%end%>

    <%= form_for @post do |f| %>
    <%= f.collection_select :user_id, User.all, :username, include_blank: "Create New"%>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
